body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100vh;
}

#toDoList {
    padding: 10px;
    margin: 5px;
}

#toDoList li {
    padding: 10px;
    border-bottom: 1px solid black;
}

#toDoInput {
    padding: 10px;
    width: 50%;
    font-size: 20px;
}

#toDoButton {
    padding: 10px;
    font-size: 15px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#toDoButton:hover {
    background-color: blue;
}